* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 80px 0;
  display: flex;
  justify-content: center;

  background-color: #c6c6c6;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: white;
  width: 550px;
  height: 550px;
}
.sub-container {
  width: 446px;
  /* margin: auto; */
}
h1 {
  font-size: 40px;
  /* padding: 20px 0; */
}
h1 > span {
  color: #4adf86;
}
p {
  font-size: 20px;
  padding: 14px 0 28px 0;
}
hr {
  border: 1px solid #2f3e53;
}

button,
.passwords p {
  cursor: pointer;
  margin: 35px 0;
  width: 191px;
  height: 42px;
  background-color: #10b981;
  color: #ffffff;
  font-size: 16px;
  border-radius: 6px;
  padding: 9px 15px;
}

.container2,
.passwords {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container2 fieldset {
  height: 42px;

  border-color: #10b981 1px solid;
}

.passwords p {
  background-color: #2f3e53;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
